<!-- Sidebar -->
<nav id="sidebarMenu" class="collapse d-lg-block sidebar collapse bg-white">
    <div class="position-sticky">
        <div class="list-group list-group-flush mx-3 mt-4">
            <a
                href="{{ url_for('dashboard') }}"
                class="list-group-item list-group-item-action py-2 ripple"
                aria-current="true"
            >
                <i class="fas fa-tachometer-alt fa-fw me-3"></i><span>Dashboard</span>
            </a>
            <br>
            <a href="{{ url_for('video_record') }}" class="list-group-item list-group-item-action py-2 ripple">
                <i class="fas fa-video fa-fw me-3"></i><span>Video</span>
            </a>
            <br>
            <a href="{{ url_for('admin_users') }}" class="list-group-item list-group-item-action py-2 ripple"
                ><i class="fas fa-users fa-fw me-3"></i><span>Users</span></a
            >
        </div>
    </div>
</nav>
<!-- Sidebar -->

<nav
    id="main-navbar"
    class="navbar navbar-expand-lg navbar-light bg-white fixed-top"
>
<!-- Container wrapper -->
    <div class="container-fluid">
        <!-- Toggle button -->
        <button
        class="navbar-toggler"
        type="button"
        data-mdb-toggle="collapse"
        data-mdb-target="#sidebarMenu"
        aria-controls="sidebarMenu"
        aria-expanded="false"
        aria-label="Toggle navigation"
        >
        <i class="fas fa-bars"></i>
        </button>

        <!-- Brand -->
        <a class="navbar-brand" href="{{ url_for('dashboard') }}">
        <img
            src="{{ url_for('static', filename='img/Yootobe_Logo.png') }}"
            height="25"
            alt="Yootobe Logo"
            loading="lazy"
        />
        <strong>Yootobe Admin</strong>
        </a>

        <!-- Right links -->
        <ul class="navbar-nav ms-auto d-flex flex-row">
            <!-- Avatar -->
            <li class="nav-item dropstart">
                <a
                class="nav-link dropdown-toggle hidden-arrow d-flex align-items-center"
                href="#"
                id="navbarDropdownMenuLink"
                role="button"
                data-bs-toggle="dropdown"
                aria-expanded="true"
                >
                    <img
                        src="{{ url_for('static',filename='img/profile-dark.png') }}"
                        class="rounded-circle"
                        height="22"
                        alt="Avatar"
                        loading="lazy"
                    />
                </a>
                <ul
                class="dropdown-menu"
                >
                    <li>
                        <a class="dropdown-item" href="#">My profile</a>
                    </li>
                    <li>
                        <a class="dropdown-item" href="{{ url_for('logout') }}">Logout</a>
                    </li>
                </ul>
            </li>
        </ul>
    </div>
<!-- Container wrapper -->
</nav>
<!-- Navbar -->
<script>
    var currentPage = window.location.pathname;

    $('#sidebarMenu .position-sticky .list-group a').each(function(){
        console.log(currentPage);
        if($(this).attr('href') == currentPage){
            $(this).addClass('active');
        }
    });
</script>
